.book {
  &__container {
    height: 100vh;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('../assets/05.jpg');
    background-size: cover;
    background-position: center;
  }

  &__content {
    padding: 3.9rem;
    padding-bottom: 4.5rem;
    background-color: rgba(255, 255, 255, 0.795);
    border: 10px double $color-primary-2;
    width: 50rem;

    @include respond(-smallest) {
      width: 40rem;
    }
  }

  &__intro {

    text-align: center;

    & h1 {
      color: $color-primary-2;
      margin-bottom: 3rem;
      font-size: 4rem;
    }

    & p {
      color: $color-primary-3;
      margin-bottom: 3rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    &>*:not(:last-child) {
      margin-bottom: 2rem;
    }

    & input {
      width: 90%;
      padding: 1rem 2rem;
      border: 2px solid $color-primary-3;
      outline: none;
      background-color: rgba(255, 255, 255, 0.644);
    }
  }

  &__btn {
    background-color: $color-primary-2;
    border: 2px solid $color-primary-2;
    padding: 1rem 2rem;
    border-radius: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2.2rem;
    text-decoration: none;
  }
}