.hero {
  &__container {
    height: 100vh;
    background-image: url('../assets/01.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: 'Satisfy', cursive;
    font-size: 9rem;
    color: white;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }

  &__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    & h5 {
      margin: 0 1rem;
    }
  }

  &__line {
    width: 9.3rem;
    height: 0.2rem;
    background-color: white;

    @include respond(-large) {
      width: 9rem;
    }

    @include respond(-medium) {
      width: 8.2rem;
    }

    @include respond(-small) {
      width: 8rem;
    }
  }

  &__slogan {
    color: white;
    font-size: 2.8rem;
    letter-spacing: 1.3px;
    margin-bottom: 4rem;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 7rem;
    font-weight: bold;
  }
  
  &__btn {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.2rem;
    border: 4px solid white;
    padding: 0 1rem 0.4rem 1rem;
  }
}