$color-primary-1: #ede3d8;
$color-primary-2: #534f4a;
$color-primary-3: #847d75;
$color-primary-4: #6e6963;


$color-primary-5: #fbfbfb;
$color-primary-6: #fbfbfb;
$color-primary-7: #f9f5ef;


$color-secondary-1: rgb(215, 126, 91);

